@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/montserrat";
@import "@fontsource-variable/roboto";

@custom-variant dark (&:is(.dark *));

/* ============ TEMA CLARO ============ */
/* https://coolors.co/3daabb-4ecdc4-91bc85-ffd36e-ff6b6b-f7fff7-fdfffd-e7efe7 */
:root {
  --background: oklch(0.9918 0.0134 145.47);
  --foreground: oklch(0 0 0);
  --border: oklch(0.732 0 0);

  /* Tiempos */
  --today-dark: oklch(0.6835 0.0996 209.7);
  --today: oklch(0.7762 0.1116 188.54);
  --week: oklch(0.8364 0.103 139.02);
  --month: oklch(0.8948 0.1319 89.37);
  --overdue: oklch(0.7116 0.1812 22.84);

  /* Branding */
  --primary: var(--today-dark);
  --primary-foreground: var(--background);
  --secondary: var(--week);
  --secondary-foreground: var(--foreground);
  --muted: oklch(0.9439 0.0136 145.47);
  --muted-foreground: var(--foreground);
  --accent: var(--today);
  --accent-foreground: var(--foreground);

  --destructive: var(--overdue);

  /* Componentes */
  --card: oklch(0.9979 0.0034 145.55);
  --card-foreground: var(--foreground);
  --input: var(--border);
  --ring: var(--accent);

  --radius: 0.625rem;
}

/* ============ TEMA OSCURO ============ */
/* https://coolors.co/3595a4-64c8c3-8cd282-e6cd5a-e15f4b-1d211f-242926-3b413e */
.dark {
  --background: oklch(0.16 0.012 145);
  --foreground: oklch(0.97 0 0);
  --border: var(--muted);

  /* Tiempos */
  --today-dark: oklch(0.62 0.09 209.84);
  --today: oklch(0.75 0.12 188.54);
  --week: oklch(0.80 0.11 139.02);
  --month: oklch(0.8709 0.1371 86.46);
  --overdue: oklch(0.66 0.185 22.84);

  /* Branding */
  --primary: var(--today-dark);
  --primary-foreground: var(--foreground);
  --secondary: var(--week);
  --secondary-foreground: var(--background);
  --muted: oklch(0.3686 0.0095 164.45);
  --muted-foreground: var(--foreground);
  --accent: var(--today);
  --accent-foreground: var(--background);

  --destructive: var(--overdue);

  /* Componentes */
  --card: oklch(0.2748 0.009 159.46);
  --card-foreground: var(--foreground);
  --input: var(--border);
  --ring: var(--accent);
}

/* ============ MAPEO A TAILWIND ============ */
@theme inline {
  --font-heading: 'Montserrat Variable';
  --font-body: 'Roboto Variable';

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);

  --color-today-dark: var(--today-dark);
  --color-today: var(--today);
  --color-week: var(--week);
  --color-month: var(--month);
  --color-overdue: var(--overdue);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

/* ============ ESTILOS BASE ============ */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-body;
  }
}