@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/montserrat";
@import "@fontsource-variable/roboto";

@custom-variant dark (&:is(.dark *));

/* ============ TEMA CLARO ============ */
/* https://coolors.co/3daabb-4ecdc4-80b472-efc551-ff6b6b-f7fff7-eff7ef-e7efe7 */
:root {
  --background: oklch(0.9679 0.0135 145.47);
  --foreground: oklch(0 0 0);
  --color-foreground: oklch(0.9918 0.0134 145.47);
  --border: oklch(0.732 0 0);

  /* Tiempos */
  --today: oklch(0.794 0.108 208.869);
  --today-foreground: var(--color-foreground);
  --week: oklch(0.7181 0.112 139.02);
  --week-foreground: var(--color-foreground);
  --month: oklch(0.8392 0.1399 88.92);
  --month-foreground: var(--color-foreground);
  --overdue: oklch(0.7116 0.1812 22.84);
  --overdue-foreground: var(--color-foreground);

  /* Branding */
  /* --primary: var(--today); */
  --primary: oklch(0.49 0.106 236.468);
  --primary-foreground: var(--today-foreground);
  --secondary: var(--week);
  --secondary-foreground: var(--week-foreground);
  --muted: oklch(0.9227 0.0137 145.46);
  --muted-foreground: var(--foreground);
  --accent: var(--today);
  --accent-foreground: var(--foreground);

  --destructive: var(--overdue);
  --destructive-foreground: var(--overdue-foreground);

  /* Componentes */
  --card: oklch(0.9918 0.0134 145.47);
  --card-foreground: var(--foreground);
  --input: var(--border);
  --ring: var(--accent);

  --radius: 0.625rem;
}

/* ============ TEMA OSCURO ============ */
/* https://coolors.co/3daabb-4ecdc4-7fb570-efc551-ff6b6b-1d211f-242926-3b413e */
.dark {
  --background: oklch(0.16 0.012 145);
  --foreground: oklch(0.97 0 0);
  --border: var(--muted);

  /* Tiempos */
  --today: oklch(0.6835 0.0996 209.7);
  --today-foreground: var(--foreground);
  --week: oklch(0.7181 0.112 139.02);
  --week-foreground: var(--foreground);
  --month: oklch(0.8392 0.1399 88.92);
  --month-foreground: var(--foreground);
  --overdue: oklch(0.7116 0.1812 22.84);
  --overdue-foreground: var(--foreground);

  /* Branding */
  --primary: var(--today);
  --primary-foreground: var(--today-foreground);
  --secondary: var(--week);
  --secondary-foreground: var(--week-foreground);
  --muted: oklch(0.3686 0.0095 164.45);
  --muted-foreground: var(--foreground);
  --accent: oklch(0.7948 0.1144 209.53);
  --accent-foreground: var(--foreground);

  --destructive: var(--overdue);
  --destructive-foreground: var(--overdue-foreground);

  /* Componentes */
  --card: oklch(0.2748 0.009 159.46);
  --card-foreground: var(--foreground);
  --input: var(--border);
  --ring: var(--accent);
}

/* ============ MAPEO A TAILWIND ============ */
@theme inline {
  --font-heading: 'Montserrat Variable';
  --font-body: 'Roboto Variable';

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);

  --color-today: var(--today);
  --color-today-foreground: var(--today-foreground);
  --color-week: var(--week);
  --color-week-foreground: var(--week-foreground);
  --color-month: var(--month);
  --color-month-foreground: var(--month-foreground);
  --color-overdue: var(--overdue);
  --color-overdue-foreground: var(--overdue-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

/* ============ ESTILOS BASE ============ */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-body;
  }
}